@import './styles/main.css';
@import './styles/header.css';
@import './styles/menu.css';
@import './styles/buttons.css';
@import './styles/post.css';
@import './styles/code.css';
@import './styles/syntax.css';
@import './styles/pagination.css';
@import './styles/footer.css';
